*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  margin: 0;
}

body {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

button {
    display: none;
}

fieldset {
    display: inline-block;
    width: 100%;
}

fieldset > div {
    display: inline-block;
}

fieldset > input {
    display: inline-block;
    border: 0;
}

#fieldBoxes {
    display: none;
}

#entranceTest > div {
    width: calc(100%/3);
}

#entranceTest > input {
    width: calc(100%/3);
}

#objectiveTesting > div {
    width: calc(100%/3);
}

#objectiveTesting > input {
    width: calc(100%/3);
}

#subjectiveTesting > div {
    width: calc(100%/8);
}

#subjectiveTesting > input {
    width: calc(100%/8);
}

#prescription > div {
    width: calc(100%/2);
}

#prescription > input {
    width: calc(100%/2);
}

@page {
    size: a5;
}